@media (max-width: 768px) {
    img {
        width: 70%;
    }

    .introduction-section p{
        font-size: 0.8em;
    }

    .project p{
        width: 100%;
        font-size: 0.7em;
        margin: none;
    }

    .project h2 {
        font-size: 1em;
    }

    .project a {
        font-size: 0.8em;
    }

    .section{
        padding: 0.1em;
        width: 95%;
    }

    .look-it-up{
        width: 30%;
    }
}