body {
    font-family: monospace;
    font-size: 2vw;
    color: lime;
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid lime;
    border-radius: 10px;
}

ul li {
    list-style: none;
    padding-left: 0;
}

ul li a {
    text-decoration: none;
    color: lime;
}

ul li a:hover {
    color: green;
    text-decoration: underline;
}